h1 { color: rgb(14, 13, 13) }
   p { color: rgba(237, 237, 238, 0.158) }
   div.top {
   margin-top: 1em;
   margin-bottom: 1em;
   background-color: rgb(45, 45, 136);
   height: 150px;
   width: 60%;
}

div.footer {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(206, 206, 206, 0.932);
  height: 90px;
  width: 60%;
}